@import "~bootstrap/scss/bootstrap.scss";

body {
  background-color: green;
  box-sizing: border-box;
}

.card {
  text-align: center;
  background: white;
  margin: auto;
  position: relative;
  width: 400px;
  height: 600px;
  top: 100px;
  padding: 20px;
}

.number {
  text-align: center;
  margin: auto;
}

.top {
  position: absolute;
  top: 15px;
  font-size: 50px;
}

.diamond::after {
  content: "\2666";
  color: red;
  font-size: 50px;
}

.hearts::after {
  content: "\2665";
  color: red;
  font-size: 50px;
}

.clubs::after {
  content: "\2663";
  color: black;
  font-size: 50px;
}

.spades::after {
  content: "\2660";
  color: black;
  font-size: 50px;
}

.bottom {
  position: absolute;
  bottom: 15px;
  right: 6%;
  font-size: 50px;
}
